<script src="/assets/js/validator.js"></script>
<script>

    $().ready(function () {



    });
</script>
  <form method="post" action="/saveP" id="formulario">
    <input type="hidden" value="0" id="external" name="external" />
    <div class="row gtr-uniform gtr-50">
        <div class="col-6 col-12-xsmall">
            <h4>NOmbre Proyecto</h4>
            <input type="text" name="proyectog" placeholder="Nombre Proyecto" />
        </div>

        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="GUARDAR" class="btn btn-success"></li>
            </ul>
        </div>
    </div>
</form>


<br><br>
<section id="content">
    <% if (locals.flash) { %>
    <div class="alert alert-danger">
        <%- locals.flash %>
    </div>
    <% } %>
    <form method="post" action="/save" id="formulario">
        <input type="hidden" value="0" id="external" name="external" />
      
        
        <div class="row gtr-uniform gtr-50">
                <h4>NOmbre Proyecto</h4>
                <div class="col-12">
                        <select name="proyecto" id="proyecto">
                            <% pro.forEach(function(persona, i) { %>
                            <option value="<%= persona.id %>"><%= persona.nombre%></option>
                            <% }); %>
                        </select>
                    </div>

            <div class="col-6 col-12-xsmall">
                <h4>Finalidad </h4>
                <input type="text" name="finalidad" placeholder="Finalidad" />
            </div>
            <div class="col-6 col-12-xsmall">
                <h4>Objetivo </h4>
                <input type="text" name="objetivo" placeholder="Objetivo" />
            </div>
            <div class="col-6 col-12-xsmall">
                <h4>Propietario </h4>
                <select name="repositorio" style="width: 580px" id="repositorio">

                </select>
            </div>
            <div class="col-6 col-12-xsmall">
                <h4>Fecha Fin</h4>
                <input type="date" name="fecha_fin" id="fecha_fin" placeholder="Fin del Proyecto" style="color: black;width: 580px" />
            </div>
            <div class="col-6 col-12-xsmall">
                <h4>Fecha Inicio</h4>
                <input type="date" name="fecha_inicio" id="fecha_inicio" placeholder="Inicio del Proyecto" style="color: black;width: 580px" />
            </div>



            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="GUARDAR" class="btn btn-success"></li>
                    <li><a href="/1" class="btn btn-danger">CANCELAR</a></li>
                </ul>
            </div>
        </div>
    </form>

    <br><br><br>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Nombre Proyecto</th>
                    <th>Nombre Propietario</th>
                    <th>Finalidad</th>
                    <th>Objetivo</th>
                    <th>Fecha Fin</th>
                    <th>Dias</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function(persona, i) { %>

                <tr>
                    <td>
                        <%= (i+1) %>
                    </td>
                    <td>
                        <%= persona.nombre_proyecto %>
                    </td>
                    <td>
                        <%= persona.nombre_propietario %>
                    </td>
                    <td>
                        <%= persona.objetivo %>
                    </td>
                    <td>
                        <%= persona.finalidad %>
                    </td>
                    <td>
                        <%= persona.fecha_fin %>
                    </td>
                    <td></td>
                    <td>
                        <a href="#" id="<%= i %>">Modificar</a></td>
                    <script>
                        $("#<%= i %>").click(function () {
                            $("#external").val("<%= persona.external_id %>");
                            $("#proyecto").val("<%= persona.nombre_proyecto %>");
                            $("#finalidad").val("<%= persona.finalidad %>");
                            $("#objetivo").val("<%= persona.objetivo %>");
                            //console.log(lista.fecha_inicio.diff(lista.fecha_fin, 'days'), ' dias de diferencia');

                           

                        });
                    </script>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

</section>